.ui.card {
    width: 700px;
    display: block !important;
}

.divCardContainer {
    display: flex !important;
    width: 100% !important;
}

.divLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.divImage {
    display: flex !important;
    padding: 15px;
    width: 350px;
}