:root {
    --color-capybara-darker-green: #003326;
    --color-capybara-dark-green: #006873;
    --color-capybara-green: #00BA0D;
    --color-capybara-mustard-yellow: #D5E337;
    --color-capybara-yellow: #FFFFAE;
    --color-white: white;
}
